* {
    box-sizing: border-box;
}

/* @import url(cmps/galleryStyle.css); */


body {
    text-align: center;
}

div {
    display: none;
}

section {
    padding: 0;
    margin: 0;
    display: flex;
}

.memes-gallery-grid {
    background-color: aquamarine;
    display: grid;
    grid-template-columns: repeat(4, minmax(auto, 50vh));
    width: fit-content;
    margin: 100px auto;
    background-color: white;
    gap: 20px;
}

img {
    size: 100%;
}
.canvas-container {
    width: 80vw;
    margin: 10px auto;
    background-color: brown;
    border: 1px solid black;
}

canvas {
    background-color: white;
    border: 1px solid black;
}


/* 
.select-img-container img {
    width: 200px;
    cursor: pointer;
    filter: grayscale(1);
}

.select-img-container img:hover {
    transition: 0.5s;
    filter: unset;
} */
