*, *::before, *::after {
    box-sizing: border-box;
}

.canvas-container {
    width: auto;
    margin: 10px auto;
    background-color: brown;
    border: 1px solid black;
}

canvas {
    background-color: white;
    border: 1px solid black;
}
/* 
.editor-ops-container {
    
} */

.editor-container{
    display: flex;
    align-items: center;
}