*, *::before, *::after {
    box-sizing: border-box;
}


.editor-container{
    display: flex;
    align-items: center;
    padding: 0 20px;
    gap: 20px;
}

.editor-container a {
    color: aquamarine;
}

.canvas-container {
    display: block;
    width: inherit;
    align-self: center;
    flex-grow: 1;
    border-radius: 10px;
}

canvas {
    background-color: antiquewhite;
    border: 1px dotted black;
    border-radius: 10px;
    align-self: center;
}


.editor-ops-container {
    /* background-color: #41414e; */
    color: white;
    flex-grow: 1;
}

.editor-ops {
    text-align: center;
    padding-left: 20%;
}