*, *::before, *::after {
  box-sizing: border-box;
}


header {
  display: flex;
  background-image: linear-gradient(to right, rgb(22, 164, 189),rgb(80, 201, 139) );
  border-radius: 60px;
  margin-bottom : 15px;
  padding: 10px 0;

}

h1 {
  flex-grow: 1;
  color: white;
  text-align: left;
  padding-left: 30px;
}

.option-bar {
  align-self: center;
  flex-grow: 0;
  margin: 0;
}

.option-bar button {
  background-color: transparent;
  color: white;
  font-weight: 600;
  border: 0;
  border-radius: 20px;
  padding: 7px 15px;
}

.option-bar button:hover{
  background-color: white;
  color: aqua;
}



/* .main-header {
  height: 160px;
}

.main-header .logo {
  font-family: inconsolata, monospace;
  color: var(--primary-1);
  text-transform: uppercase;
  font-size: 2.14285714em;
  letter-spacing: 0.2em;
}

.main-header .main-nav a {
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
}

.main-header .main-nav a {
  color: var(--primary-1);
} */